@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* -------------------public rules---------------------- */
:root{
    --firstColor:#88888A;
    --secondColor:#F6B3D6;
    --wordColor:#8e7c8c;
    --hoverWordColor:#525256;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color:  #f7f7f7;
    /* height: 10000px; */
    
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* -------------------start navbar-------------------- */
.navbar{
    background-color: #fff;
    padding: 20px 40px; 
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar .navbar-brand img{
    max-height: 48px;
}
.navbar .navbar-nav .nav-item{
    margin: 0 17px;
    position: relative;
}
.navbar .navbar-nav .nav-item::before,.navbar .navbar-nav .nav-item::after{
    position: absolute;
    top: -6px;
    color: var(--secondColor);
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}
.navbar .navbar-nav .nav-item:hover::before,
.navbar .navbar-nav .nav-item:hover::after,
.navbar .navbar-nav .nav-item.active::before,
.navbar .navbar-nav .nav-item.active::after,
.navbar .navbar-nav .nav-item.active .nav-link{
    color: var(--secondColor);
    opacity: 1;
    visibility: visible;
}
.navbar .navbar-nav .nav-item:hover::before{
    left:-10px;
}
.navbar .navbar-nav .nav-item:hover::after{
    right:-10px;
}
.navbar .navbar-nav .nav-item::before{
    content: "[";
    left: -22px;
}
.navbar .navbar-nav .nav-item::after{
    content: "]";
    right: -22px;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: var(--wordColor);
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    text-transform: uppercase;
}
.navbar .navbar-nav .nav-item:hover .nav-link{
    color: var(--secondColor);
}
.navbar .navbar-nav .nav-item .nav-drop{
    position: absolute;
    top: 63px;
    background-color: var(--secondColor);
    padding: 20px;
    width: 158px;
    left: 0;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    box-shadow: 0px 7px 7px 0px rgb(48 51 50 / 9%);
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transform-origin: top left;
}
.navbar .navbar-nav .nav-item:hover .nav-drop{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}
.navbar .navbar-nav .nav-item .nav-drop .drop-item{
    margin-bottom: 16px;
}
.navbar .navbar-nav .nav-item .nav-drop .drop-item .drop-link{
    color: var(--wordColor);
    text-decoration: none;
}
.navbar .navbar-nav .nav-item .nav-drop .drop-item .drop-link:hover{
    color: var(--hoverWordColor);
}
.navbar .profile-icon{
    color:var(--secondColor);
    font-size: 30px;
    position: absolute;
    right: 176px;
    top: 35px;
}
@media (max-width:991px) {
    .navbar .navbar-toggler i{
        color: var(--secondColor);
        font-size: 27px;
    }
    .navbar .navbar-nav .nav-item::before, .navbar .navbar-nav .nav-item::after{
        position: unset;
        display: none;
    }
    .navbar .navbar-collapse{
        right: 0;
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    background-color: #f2e1ea;
    overflow: scroll;
    }
    .navbar .close-icon{
        background-color: var(--wordColor);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin: 30px 15px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .navbar .navbar-nav{
        padding: 40px 0;
    }
    .navbar .navbar-nav .nav-item {
        margin: 0 ;
        border-bottom: 2px solid var(--wordColor);
    }
    .navbar .navbar-nav .nav-item .nav-link {
        margin: 16px 16px;
        display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .navbar .navbar-nav .nav-item .nav-drop {
        position: unset;
        background-color: transparent;
        padding: 20px 30px;
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        -ms-border-radius: 0 0 4px 4px;
        -o-border-radius: 0 0 4px 4px;
        box-shadow: unset;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        opacity: 1;
        visibility: visible;
        transform-origin: unset;
        display: none;
    }
    .navbar .navbar-nav .nav-item.click-drop .nav-drop{
        display: block;
    }
    .navbar .navbar-nav .nav-item .nav-drop .drop-item .drop-link {
        font-size: 18px;
    }
    .navbar .navbar-nav .nav-item .nav-drop .drop-item{
        margin-bottom: 8px;
    }
    .navbar .icon-down{
        width: 40px;
        height: 40px;
        background-color: var(--secondColor);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    .navbar .social-icons a {
        width: 40px;
        height: 40px;
        background-color: var(--firstColor);
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 24px;
        margin-left: 10px;
        border-radius: 50%;
    }
}
@media (max-width:768px) {
    .navbar .navbar-toggler i {
        color: var(--secondColor);
        font-size: 27px;
    }
    .navbar {
        background-color: #fff;
        padding: 30px 20px;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        color: var(--wordColor);
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0;
    }
    .navbar .social-icons a {
        margin-right: 16px;
    }
}
@media (max-width:575px) {
    .navbar .navbar-collapse {
        width: 80%;
    }
    .navbar .close-icon {
        width: 40px;
        height: 40px;
    }
    .navbar .icon-drop {
        width: 30px;
        height: 30px;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        color: var(--wordColor);
        font-size: 16px;
    }
    .navbar .social-icons a {
        margin-right: 23px;
    }
}
@media (max-width:320px) {
    .navbar .navbar-collapse {
        width: 100%;
    }
    .navbar .icon-social {
        margin: 17px 13px;
    }
    .navbar .social-icons a {
        margin-right: 5px;
    }
}
/* -------------------end navbar-------------------- */


/* ---------------------start cover img-------------- */
.cover-img{
    background-image: url("../images/addingPage/p4.jpg");
    padding: 391px 0px 324px 0px;
    /* background-position: center center;  */
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(40%);
    position: relative;
}

.cover-img .content{
    width: 60%;
    margin: auto;
    text-align: center;
}
.cover-img .content h2{
    font-size: 62px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 27px;
}
.cover-img .content p{
    font-size: 16px;
    color: #fff
}

.add-form {
    background: #fff;
    box-shadow: 0px 14px 30px 0px rgb(0 0 0 / 7%);
    padding: 70px 185px;
    width: 59%;
    position: absolute;
    left: 23%;
    top: 64%;
    border-radius: 31px;

}
.add-form .form-section{

}
.add-form .form-section h3{
    margin-top: -29px;
    text-align: center;
    padding-bottom: 23px;
    padding-top: -47px;
    font-size: 32px;
    font-weight: 500;
}
.add-form .form-section .row{
    margin-left: 7px;
}
.add-form .form-section .row .end-form{
    position: relative;
}
.add-form .form-section .row .end-form::before{
    content: "";
    position: absolute;
    border: 0;
    width: 1px;
    height: 112px;
    background-color: #000;
    right: 5%;
    top: -7px;
}
.add-form .form-section .row ul li input{
    border-radius: 7px;
    border: 1px solid;
    height: 49px;
    width: 222px;
    margin-right: 24px;
    margin-bottom: 19px;
    background-color: #e6e6e6;
    border: 0.5px;
    transform: translate(-86px,13px);

}
.add-form .form-section .row .attachment{
    position: absolute;
    right: 116px;
}
.add-form .form-section .row .attachment .btn-attach{
    background-color: var(--secondColor);
    transform: translate(-308%, 200px);
    color: var(--wordColor);
    height: 52px;
    width: 132px;
    font-size: 19px;
    
}
.add-form .form-section .row .attachment .child-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-form .form-section .row .attachment .btn-upload{
    transform: translate(-410%, 200px);
    width: 99px;
    height: 43px;
    color: var(--wordColor);
    background-color: var(--secondColor);
    border: none;
    border-radius: 4px;
    
}
.add-form .form-section .row .attachment .pc-file{
    display: none;
    position: absolute;
    bottom: -37px;
    right: -2px;
}
.add-form .form-section .area-note{
    width: 100%;
    margin-top: 20px;
    background-color: #e6e6e6;
    border: .5px;
    border-radius: 7px;
}

.add-form .form-section .crt-folder{
    display: block;
    margin: 19px auto;
    padding: 8px;
    border: none;
    background-color: var(--secondColor);
    border-radius: 5px;
    width: 172px;
    height: 65px;
    transform: translate(181%, -218%);
    color: var(--wordColor);
    font-size: 21px;
    font-weight: 600;
}
.form-control{
    transform: translate(-110%, 200px);
}
/* .add-form .form-section .row .attachment .btn-upload {
    width: 99px;
    padding: 9px 0;
    border: none;
    background-color: var(--secondColor);
    border-radius: 5px;
    transform: translate(78px, 10px);
    color: var(--wordColor);
} */
@media (max-width:991px) {
    .add-form {
        width: 60%;
        top: 117%;
    }
    .add-form .form-section .row {
        display: block;
    }
    .add-form .form-section .row ul li input {
        width: 98%;
    }
    .add-form .form-section .row .end-form::before {
        position: unset;
    }
    .add-form .form-section .row .attachment {
        position: absolute;
        right: 170px;
        top: 41%;
    }
    .add-form .form-section .area-note {
        margin-top: 111px;
    }
}
/* ---------------------end cover img-------------- */