{% extends 'project/mainved.html' %}
{% load static %}
{% block content %}
<main>
    <section id="form-container">
        <img id="logo" src="{% static 'assets/images/logo/logo.png'%}" alt="">
        <div id="welcome-message">
            <h1>welcome to our video conference</h1>
            <p>a group video calling application</p>
        </div>

        <form id="form">
            <div class="form-field">
                <input type="text" name="room" placeholder="Enter a room name..." style="text-transform: uppercase;"/>
            </div>

            <div class="form-field">
                <input type="text" name="username" placeholder="Enter your name..." style="text-transform: uppercase;"/>
            </div>

            <div class="form-field">
                <input type="submit" value="Join Stream1" />
            </div>
        </form>
    </section>
</main>

<script type="text/javascript">
    let form=document.getElementById('form')

    let handleSubmit=async(e)=>{
        e.preventDefault()
        let room=e.target.room.value.toUpperCase()
        if(room=='') room='Lobby'
        let name=e.target.username.value
        if(name=='') name='Guest'
        let url=`/get_token/?channel=${room}&name=${name}`
        let response=await fetch(url)
        let data=await response.json()

        let UID=data.uid
        let rtcToken=data.rtcToken
        let rtmToken=data.rtmToken

        sessionStorage.setItem('UID',UID)
        sessionStorage.setItem('rtcToken',rtcToken)
        sessionStorage.setItem('rtmToken',rtmToken)
        sessionStorage.setItem('room',room)
        sessionStorage.setItem('name',name)

        window.open('/room','_self')
    }

    form.addEventListener('submit',handleSubmit)
</script>
{% endblock content %}