
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/external/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/align.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/external/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/external/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/showData.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'">
    <title>Show Data</title>
</head>
<body>
    <!-- ---------------------------start navbar----------------- -->
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-lg-auto">
                <a href="#" class="close-icon d-lg-none"><i class="fas fa-times"></i></a>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'patientview' %}">View My Data</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'patientupload' %}">Add Documents</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Sign-out</a>
                </li>
                
            </ul>
            <a href="#"><i class="fas fa-user profile-icon d-none d-lg-block"></i></a>
            <div class="social-icons d-lg-none">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-telegram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-vimeo"></i></a>
            </div>
        </div>
    </nav>

    <!-- ---------------------------end navbar----------------- -->

    <!-- ------------------------start display Data------------------ -->

        <form method ="POST">
            {% csrf_token %}
            <div class="to-search iconbg">
                <input type="text" name="searched"  id ="searchbox" class="srch" placeholder="Search by ID"> 
                <i class="fas fa-search fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            
           
            
        </form>





              
             <div class="data">
                <div class="container">
                    <br/>
                    <h3>ID: {{searched }}</h3> 
                    {% for venu in venus  %}
                    {% ifchanged venu.Name %}
                    <h2>Name: {{ venu.Name }}</h2> 
                    <h2>Notes: {{ venu.notes }}</h2> 
                    {% endifchanged %}    
                    {% endfor %}
                    <br/>

                    <div class="sub-folders">
                        <ul class="files">

                            <li class="report-item">Patient Initial Data<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Patient Initial Data' %}
                                <span class="numSpan" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                              

                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >

                            
                            <li class="report-item">Initial Assment<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Initial Assment' %}
                                <span class="numSpan" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                              

                            {% endif %}
                            {% endfor %}
                                    

                        </ul>   
                    </li >


                            <li class="report-item">Breast-Imaging<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Breast-Imaging' %}
                                <span class="numSpan" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                               

                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >

                            <li class="report-item">Genral-Radioloy<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Genral-Radioloy' %}
                                <span class="numSpan" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                          
                                
                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >


                            <li class="report-item">Pet-Scan<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                                    {% for venu in venus %}
                                    {% if venu.category == 'Pet-Scan' %}
                                    <span class="" >Date: {{venu.Date }}</span>
                                    <br>
                                    <span class="" >ID: {{venu.imageid }}</span>
                                    <br>
                                    <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                    <li ><img src={{venu.image.url}} width="150px"></li>
 
                                    


                                    {% endif %}
                                    {% endfor %}

        
                                </ul>   
                            </li >
   
                            <li class="report-item">Pathology<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Pathology' %}     
                                <span class="" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                                
                                
                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >




                            <li class="report-item">Tumor-Board<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Tumor-Board' %}
                                <span class="numSpan" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                                
                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >






                            <li class="report-item">Clinic-Visits<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Clinic-Visits' %}
                                <span class="" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                
                                <li ><img src={{venu.image.url}} width="550px"></li> 

                               

                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >

 
                            <li class="report-item">Reports&Consents<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Reports&Consents' %}
                                <span class="numSpan" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                                

                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >




                            <li class="report-item">Operative-Sheets<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Operative-Sheets' %}
                                <span class="numSpan" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                                
                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >




                            <li class="report-item">Labs<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Labs' %}
                                <span class="" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                               
                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >




                            <li class="report-item">Cardiac-clinic<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Cardiac-clinic' %}
                                <span class="numSpan" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                               
                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >



                            <li class="report-item">Others<span class="icon-down"><i class="fas fa-angle-down"></i></span>
                                <ul class="reports">
                            {% for venu in venus %}
                            {% if venu.category == 'Others' %}
                                <span class="numSpan" >Date: {{venu.Date }}</span>
                                <br>
                                <span class="" >ID: {{venu.imageid }}</span>
                                <br>
                                <a href="{{venu.image.url}}"  class="btn btn-info " >View Image</a>
                                <li ><img src={{venu.image.url}} width="250px"></li>
                               
                            {% endif %}
                            {% endfor %}
                        </ul>   
                    </li >


































                        </ul>
                </div>
            

            </div>
       
        

    
    <script src="{% static 'assets/js/external/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/external/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/showData.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>