{% extends 'project/mainved.html' %}
{% load static %}
{% block content %}
<style>

.hidden{display:none;}

.usersList{
    width: 200px;
    height:50vh;
    justify-content: center;
    column-gap: 2em;
    position: fixed;
    bottom: 0px;
    left:0px;
    background-color:#eeea;
    overflow-y:scroll;
}


.user-wrapper{
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    padding:5px;
}

.user-name{
    color:#0;
    font-weight:bold;
}
.state-icon{
    height: 16px;
    width: 16px;
    box-shadow: var(--shadow);
    background-color: #fff;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.pointer{
  position:absolute;
  z-index:9990;
  transform: translate(-25px, -25px);
  cursor:none;

}
.dot {
  height: 20px;
  width: 20px;
  background-color: #f008;
  border-radius: 50%;
  display: inline-block;
}

.pointerName{
    font-size:10px;
    color:#f00;
    top:20px;
    left:30px;
}

.fullScreen{
    width:100%;
    height:100%;
    border: 1px solid rgb(150 75 172);
    border-radius: 5px;
    margin: 2px;
    background-color: rgb(218 186 228);
    position: relative;
}
.screen-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(150 75 172);
    border-radius: 5px;
    margin: 2px;
    background-color: rgb(218 186 228);
    position: relative;
    cursor:none;
}


</style>
<main>

    <section id="room-name-wrapper">
        Room: <span id="room-name"></span>
    </section>

    <img id='zimage' src=''/>
    <section id="video-streams"></section>

    <section class="usersList" id="usersList-wrapper"></section>

    <section id="controls-wrapper">

        <div class="hidden">
            <input type="file" id="file-selector" accept=".jpg, .jpeg, .png" onchange='shareImage()'/>
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="list-btn"  src="{% static 'assets/images/video/users.png'%}" onclick='toggleList()'/>
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="screen-btn"  src="{% static 'assets/images/video/screen01.png'%}" onclick='shareScreen()'/>
        </div>

        <div class="icon-wrapper">
            <img class="control-icon"  id="mic-btn" src="{% static 'assets/images/video/microphone.svg'%}"/>
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="{%static 'assets/images/video/video.svg'%}"/>
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="{%static 'assets/images/video/leave.jpg'%}"/>
        </div>
    </section>
</main>
<script type="text/javascript" src="{% static 'assets/mainfiles/AgoraRTC_N-4.12.2.js'%}"></script>
<script type="text/javascript" src="{% static 'assets/mainfiles/agora-rtm-sdk-1.4.5.js'%}"></script>
<script type="text/javascript" src="{% static 'assets/js/stream.js'%}"></script>
<!-- <script type="text/javascript" src="{% static 'assets/js/streams.js'%}"></script> -->
{% endblock content %}
