{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/external/bootstrap.min.css '%}">
    <link rel="stylesheet" href="{% static 'assets/css/external/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/external/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pass.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <title>Sign-in Page</title>
</head>
<body>
    <div class="women-img"><img src="{% static 'assets/images/Sign-in/women.png' %}" alt="ladies"></div>
    <div class="sign-form">
        <h2>welcome!</h2>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        {% endfor %}
        <form class="form-section" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" id="username" name= "username" placeholder="username">
                <i class="fa-solid fa-user" aria-hidden="true"></i>
            </div>
            <div class="form-group">
                <input type="password" id="pass1"  name="pass1" placeholder="Password">
                <i class="fas fa-lock" aria-hidden="true"></i>
            </div>
            <div class="password-section">
                <div class="check-group">
                    <input type="radio" class="check-icon">
                    <label class="label-check">Remember my password</label>
                </div>
                <a href="#" class="forgetpass">Forget your password?</a>
            </div>
    
            <button type="submit" class="btn btn-primary login">Log In</button>
            <!-- <a href="{% url 'patientdata' %}" class="login">Login</a>
             -->
         
        </form>
    </div>
    <div class="ribbon-group">
        <img src="{% static 'assets/images/Sign-in/ribbon1.png' %}" class="ribb1" alt="">
        <img src="{% static 'assets/images/Sign-in/ribbon2.png' %}" class="ribb2" alt="">
        <img src="{% static 'assets/images/Sign-in/ribbon3.png' %}" class="ribb3" alt="">
        <img src="{% static 'assets/images/Sign-in/ribbon4.png' %}" class="ribb4" alt="">
    </div>

    <script src="{% static 'assets/js/external/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/external/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'assets/js/script.js' %}"></script>
</body>
</html>